In [1]:
import pandas as pd
import numpy as np
gdp_sh_df= pd.read_csv('GDP Share.csv',index_col=0)

In [2]:
gdp_sh_df

,Gross Domestic Product (in Rs. Cr) at 2004-05 Prices,Agriculture & Allied Services (in Rs. Cr.) at 2004-05 Prices,Agriculture (in Rs. Cr.) at 2004-05 Prices,Industry (in Rs. Cr.) at 2004-05 Prices,Mining and Quarrying (in Rs. Cr.) at 2004-05 Prices,Manufacturing (in Rs. Cr.) at 2004-05 Prices,Services (in Rs. Cr.) at 2004-05 Prices,Agri-culture & Allied Services -Share to Total GDP,Agriculture - Share to Total GDP,Industry - Share to Total GDP,Mining and Quarrying - Share to Total GDP,Manufacturing - Share to Total GDP,Services - Share to Total GDP,Gross Domestic Product - % Growth Rate (YoY),Agri-culture & Allied Services - % Growth Rate (YoY),Agriculture - % Growth Rate (YoY),Industry - % Growth Rate (YoY),Mining and Quarrying - % Growth Rate (YoY),Manufacturing - % Growth Rate (YoY),Services - % Growth Rate (YoY)
Financial Year,,,,,,,,,,,,,,,,,,,,
1951-52,286147,147216,118877,47768,5772,25889,84799,5145,4154,1669,202,905,2963,233,149,164,550,1233,316,267
1952-53,294267,151859,123822,47739,5905,26789,87438,5161,4208,1622,201,910,2971,284,315,416,-6,231,348,311
1953-54,312177,163553,134958,50409,5993,28863,89940,5239,4323,1615,192,925,2881,609,770,899,559,150,774,286
1954-55,325431,168361,138731,54574,6250,30885,94172,5173,4263,1677,192,949,2894,425,294,280,826,428,701,471
1955-56,333766,166906,136679,60311,6348,33304,98845,5001,4095,1807,190,998,2962,256,-86,-148,1051,158,783,496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009-10,4516071,660987,557715,1276919,103830,730435,2578165,1464,1235,2827,230,1617,5709,859,81,41,916,589,1130,1050
2010-11,4937006,713477,606848,1393879,108938,801476,2829650,1445,1229,2823,221,1623,5732,932,794,881,916,492,973,975
2011-12,5243582,739495,630540,1442498,108249,823023,3061589,1410,1202,2751,206,1570,5839,621,365,390,349,-63,269,820
2012-13,5482111,764510,649424,1494921,108328,863876,3222680,1395,1185,2727,198,1576,5879,447,142,91,96,-216,114,696
2013-14,5741791,800548,681412,1500225,106838,857705,34411017,1394,1187,2613,186,1494,5993,474,471,493,35,-138,-71,678

In [3]:
gdp_sh_df=gdp_sh_df.iloc[:,7:13]

In [4]:
gdp_sh_df

,Agri-culture & Allied Services -Share to Total GDP,Agriculture - Share to Total GDP,Industry - Share to Total GDP,Mining and Quarrying - Share to Total GDP,Manufacturing - Share to Total GDP,Services - Share to Total GDP
Financial Year,,,,,,
1951-52,5145,4154,1669,202,905,2963
1952-53,5161,4208,1622,201,910,2971
1953-54,5239,4323,1615,192,925,2881
1954-55,5173,4263,1677,192,949,2894
1955-56,5001,4095,1807,190,998,2962
...,...,...,...,...,...,...
2009-10,1464,1235,2827,230,1617,5709
2010-11,1445,1229,2823,221,1623,5732
2011-12,1410,1202,2751,206,1570,5839
2012-13,1395,1185,2727,198,1576,5879
2013-14,1394,1187,2613,186,1494,5993

In [5]:
gdp_sh_df=gdp_sh_df.div(100)

In [6]:
gdp_sh_df

,Agri-culture & Allied Services -Share to Total GDP,Agriculture - Share to Total GDP,Industry - Share to Total GDP,Mining and Quarrying - Share to Total GDP,Manufacturing - Share to Total GDP,Services - Share to Total GDP
Financial Year,,,,,,
1951-52,51.45,41.54,16.69,2.02,9.05,29.63
1952-53,51.61,42.08,16.22,2.01,9.10,29.71
1953-54,52.39,43.23,16.15,1.92,9.25,28.81
1954-55,51.73,42.63,16.77,1.92,9.49,28.94
1955-56,50.01,40.95,18.07,1.90,9.98,29.62
...,...,...,...,...,...,...
2009-10,14.64,12.35,28.27,2.30,16.17,57.09
2010-11,14.45,12.29,28.23,2.21,16.23,57.32
2011-12,14.10,12.02,27.51,2.06,15.70,58.39
2012-13,13.95,11.85,27.27,1.98,15.76,58.79
2013-14,13.94,11.87,26.13,1.86,14.94,59.93

In [7]:
gdp_sh_df.rename(columns={"Agri-culture & Allied Services -Share to Total GDP":"Agri-culture & Allied Services",
                          "Agriculture - Share to Total GDP":"Agriculture",
                          "Industry - Share to Total GDP":"Industry",
                          "Mining and Quarrying - Share to Total GDP":"Mining and Quarrying",
                          "Manufacturing - Share to Total GDP":"Manufacturing",
                          "Services - Share to Total GDP":"Services"},inplace=True)

In [8]:
gdp_sh_df

,Agri-culture & Allied Services,Agriculture,Industry,Mining and Quarrying,Manufacturing,Services
Financial Year,,,,,,
1951-52,51.45,41.54,16.69,2.02,9.05,29.63
1952-53,51.61,42.08,16.22,2.01,9.10,29.71
1953-54,52.39,43.23,16.15,1.92,9.25,28.81
1954-55,51.73,42.63,16.77,1.92,9.49,28.94
1955-56,50.01,40.95,18.07,1.90,9.98,29.62
...,...,...,...,...,...,...
2009-10,14.64,12.35,28.27,2.30,16.17,57.09
2010-11,14.45,12.29,28.23,2.21,16.23,57.32
2011-12,14.10,12.02,27.51,2.06,15.70,58.39
2012-13,13.95,11.85,27.27,1.98,15.76,58.79
2013-14,13.94,11.87,26.13,1.86,14.94,59.93

In [9]:
gdp_sh_df.to_csv('GDP Share in Percent.csv')